matplotlib==3.7.1
numpy==1.22.4
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
opencv_python_headless==4.8.0.74
Pillow==8.4.0
Pillow==10.0.0
PyYAML==6.0.1
PyYAML==6.0.1
rfconv==0.0.2b20210406
scikit_image==0.19.3
scikit_learn==1.2.2
scipy==1.11.1
tensorboardX==2.6.1
torch==2.0.1+cu118
torchsummary==1.5.1
torchvision==0.15.2+cu118
tqdm==4.65.0
